.modal-body:before,
 .modal-body:after {
   display: table;
   content: " ";
}

.modal-header:before,
.modal-header:after {
 display: table;
 content: " ";
}
.leftSide{
    width : 15% ;
    float : left;
    background-color: red;
}
.rightSide{
    width : 85%;
    float : right;
    background-color: yellow;
}
.timestamp{
    border: solid black 1px;
    right: 0;
    
}
.content{
    width: 90%;
    
    
}
.messagetable{
    width: 100%;
}