<div class = "leftSide">
    <h1 class="roomList" ng-repeat=" thisroom in room.rooms "><p ng-click ="room.changeRoom(thisroom)">{{thisroom.$value}}</p>
    </h1>
    <div ng-controller="ModalCtrl as modal">
        <button ng-click= "modal.open()">New room</button>
    </div>
</div> 
<div class = "rightSide">
    <h2 >{{currentRoom.$value}}</h2>
    <table class="messagetable">
        <tr ng-repeat = "message in messages track by $index">
            <td class = "content">{{message.username}}: {{message.content}}</td>
            <td class="timestamp">{{message.sentAt}}</td>
        </tr>
    </table>
    <form ng-submit = "room.send(room.message,currentRoom)">
        <input type = "text" ng-model = "room.message">
        <button>Message</button>
    </form>
</div>